* {
  margin: 0;
  padding: 0;
}
.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 50px 20px;
  background-color: #f1f1f1;
}
.count {
  border: 5px solid white;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.countdown-item {
  text-align: center;
  background-color: #6c757d;
  color: white;
  border-radius: 8px;
  padding: 10px 10px;
  width: 65px;
  border: 3px solid white;
}
.title {
  margin: 8px;
}

.countdown-item h1 {
  font-size: 19px;
  margin: 0;
}

.countdown-item p {
  font-size: 14px;
  margin: 3px 0 0;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

body {
  max-width: 576px !important;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
  align-items: center;
  overflow: hidden;
  text-transform: capitalize;
}
.section {
  height: 100vh;
  width: 100vw;
  display: none;
}
.visible {
  display: block;
}

.container {
  width: 100%;
  padding: 10px;
}

/* Hero / Header Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('img/bgd.webp') no-repeat center center/cover;
  background-position: relative;
  color: black;
  text-align: center;
  padding: 60px 15px;
  border-radius: 5px;

}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name {
  font-family: 'Allura';
  font-size: 2rem;
  color: black;
  margin-top: 25px;
}


.section-title {
  font-family: 'Allura', sans-serif;
  font-size: 5px;
  text-align: center;
  color: black;
}
.section-tit {
  font-family: 'Allura', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: black;
}
  .date {
  font-size: 0.9rem;
  color: #7a5a43;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero__action {
  background-color: #a58b74;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero__action:hover {
  background-color: #8c705e;
}

/* Container */
.frame-container {
  text-align: center;
  position: relative;
  text-align: center;
  background: turquoise;
  border: 5px solid white;
  padding: 2rem;
  border-radius: 10px;
}


.photo-frame {
  width: 250px;
  height: 250px;
  border: 2px solid #d1b8a7;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dekorasi bunga */
.decorative-border {
  position: absolute;
  align-items: center;
  width: 350px;
  height: 340px;
  bottom: 215px;
  left: -18px;
  z-index: 2;
}

.decorative-border img {
  width: 100%;
  height: auto;
}

/* About home Section */
.about {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 5px solid white;
}

.and {
  font-family: 'Allura';
  font-size: 4rem;
}

.invitation-item-hero {
  text-align: center;
  border-radius: 10px;
  padding-block: 10px;
}
.photo-container-hero {
  border: 4px solid #e4e2e1;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 280px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto 1.5rem;
}
.photo-container-hero1 {
  background-color: #3B1C32;
  border: 4px solid white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 280px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto 1.5rem;
}
.bapak {
  color: white;
  font-size: 19px;
  font-family: 'Allura';
  margin-bottom: 16px;
}

.photo-container-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1rem;
  color: #a58b74;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.photo-container {
  border: 3px solid #e8ded4;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto 1.5rem;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.couple-names {
  font-family: 'Allura', cursive;
  font-size: 2rem;
  color: white;
  margin: 0;
}


.about h5 {
  font-family: 'Allura';
  font-size: 2rem;
}
.about p {
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 1rem;
}
.about__description {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  margin: 0 auto;
  color: #555;
}


/* hadist */
.hadist {
  background-color: #f3f4f5;
  border-radius: 4px;
  border: 5px solid white;
}
.hadist p {
  font-family: 'Allura';
  font-size: 1.2rem;
  text-align: justify;
}
.hadist h4 {
  font-family: 'Allura';
  font-size: 1.5rem;
}

/* info section */
.info-section {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
  border: 5px solid white;
}


.info-section h2 {
  font-family: 'Allura';
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.info-section p {
  color: #5a0f0f;
  margin-bottom: 40px;
  font-size: 0.8rem;
}

.info-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info-item {
  padding: 1px;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  border: 3px solid white;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
}

.label {
  background-color: #6c757d;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(10deg);
}

.content {
  padding: 16px;
  flex: 1;
}

.content h4 {
  font-size: 18px;
  margin: 0;
  color: #555;
}

.content h3 {
  font-size: 16px;
  margin: 8px 0 0;
  font-weight: bold;
}

.content p {
  font-size: 14px;
  margin-top: 12px;
  color: #777;
}

.button-lok {
  text-decoration: none;
  position: relative;
  height: 300px;
  background-color: #f9f9f9;
}
.button-lok:hover {
  text-decoration: none;
  color: blueviolet;
}

/* Contact Section */
.container-text {
  padding: 10px;
}
.text-times {
  text-align: center;
  padding: 20px 0;
  background-color: #f3f4f5;
  border: 5px solid white;
}
.text-times h2 {
  font-family: 'Allura';
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
.text-times p {
  font-family: 'Allura';
  font-size: 1.2rem;
}
.photo-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 4px;
}

.photo-slider img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  animation: slide 13s infinite linear;
}

@keyframes slide {
  100% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Timeline Section */
.timeline {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 5px solid white;

}
.timeline {
  padding: 50px 10px;
  overflow: hidden;
}

.timeline h2 {
  font-family: 'Allura';
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 2rem;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
  padding-left: 50px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 25px;
  height: 100%;
  width: 2px;
  background-color: #121314;
}

.timeline-date {
  width: 80px;
  font-size: 1.2rem;
  font-family: 'Lora';
  font-weight: bold;
  color: #0d0f11;
  text-align: right;
  padding-right: 15px;
}

.timeline-content {
  background-color: transparent;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid white;
}

.timeline-content h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.timeline-content p {
  color: #555;
  font-size: 0.8rem;
}

.quotes-section {
  background-color: #FBFBFB;
  border: 5px solid white;
}
.quotes-section p {
  font-family: 'Allura', sans-serif;
  font-size: 1.2rem;
}
.quotes-section h2 {
    font-family: 'Allura', cursive; /* Font dengan kesan elegan */
    font-size: 36px;
    color: #4a4a4a;
    margin-bottom: 20px;
    text-align: center;
}

/* Gallery Section */
.gallery {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 5px solid white;
}
.gallery h2 {
  font-family: 'Allura';
  font-size: 2rem;
  color: #333;
  text-align: center;
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 1rem;
}

.gallery__img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* RSVP Section */
.rsvp {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 5px solid white;
}
.rsvp {
  padding: 20px 0;
  text-align: center;
  background-color: #e0f7fa;
}
.rsvp h2 {
  font-family: 'Allura';
  font-size: 2rem;
  color: #333;
}

.rsvp__form {
  max-width: 100%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid  #e8ecde;
  border-radius: 5px;
  font-size: 0.9rem;
}

.btn {
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}
.btn-left {
  float: left;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #2980b9;
}
.greeting-display {
  max-width: 500px;
  max-height: 370px;
  margin: 60px auto;
  padding: 20px;
  background-color: #e8ecde;
  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.greeting-display p {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.greeting-display p {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 0.8rem;
  line-height: 1.6;
}

.greeting-display p:last-child {
  border-bottom: none;
}

/* gifts section */
/* Styling untuk Gift Section */

.gift-section {
  background-image: url('img/bgd.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 4px solid #FBFBFB;
}

.section-title {
  font-size: 2rem;
  color: #4f4e5f; /* Warna ungu lembut */
}

.section-description {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.gift-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gift-card {
  background-color: #f1f1f1;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 380px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gift-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.gift-icon {
  font-size: 10rem;
  margin-bottom: 15px;
  color: #6c63ff; /* Warna ungu lembut */
}

.gift-card h3 {
  font-size: 2rem;
  font-family: 'Allura';
  margin-bottom: 10px;
  color: #444;
}

.gift-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.gift-link {
  color: #6c63ff;
  text-decoration: none;
}

.gift-link:hover {
  text-decoration: underline;
}

.copy-btn {
  margin-top: 10px;
  background-color: transparant;
  border: 3px solid #444;
  color: #444;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}



/* navbar */
.navbar-bottom {
position: sticky;
bottom: 0;
left: 0;
width: 100%;
background-color: #333;
border: 2px solid white;
border-radius: 5px;
display: flex;
justify-content: space-around;
padding: 10px 0;
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
z-index: 1000;
}

.navbar-bottom .nav-link {
color: #f1f1f1 !important;
text-align: center;
font-size: 14px;
text-decoration: none;
flex-grow: 1;
}


.navbar-bottom .nav-link i {
font-size: 20px;
}

.navbar-bottom .nav-link:hover {
color: #ffd700 !important;
}

.navbar-bottom .nav-link span {
display: block;
font-size: 12px;
}

  
/* Footer Section */
footer {
  background-color: #554747;
  color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 8px;
}

footer p {
  margin: 0;
  line-height: 1.5;
}

footer a {
  color: #f1f1f1;
  text-decoration: none;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffd700;
  text-decoration: underline;
}


/* animasi */

 h2, h3, h4, h5, strong, .icon, p, span {
opacity: 0;
transform: translateY(20px); /* Efek meluncur ke atas */
transition: opacity 0.5s ease-out, transform 2s ease-out;
}

img {
opacity: 0;
transition: opacity 0.5s ease-out, transform 2s ease-out;
}


/* gelomang */

